---
import MySQL from "../icons/skills/MySQL.astro";
import Postgresql from "../icons/skills/Postgresql.astro";
import SkillCard from "../SkillCard.astro";
import TitleSkills from "./TitleSkills.astro";

const { iconSize } = Astro.props;
---

<section {...Astro.props}>
  <TitleSkills> Bases de Datos </TitleSkills>
  <div class="flex gap-6 items-center flex-wrap">
    <SkillCard text="+2 Años" name="PostgreSQL">
      <Postgresql class={`${iconSize}`} />
    </SkillCard>
    <SkillCard text="+1 Año" name="MySQL">
      <MySQL class={`${iconSize}`} />
    </SkillCard>
  </div>
</section>
