---
import Layout from "@/layouts/Layout.astro";

import ExperiencePages from "@/pages/Experience/index.astro";
import SkillsPage from "@/pages/Skills/index.astro";
import CertificatesPage from "@/pages/Certificates/index.astro";
import AboutMePage from "@/pages/AboutMe/index.astro";

import Briefcase from "@/components/icons/Briefcase.astro";
import CodeIcon from "@/components/icons/Code.astro";
import Graduation from "@/components/icons/Graduation.astro";
import ProfileCheck from "@/components/icons/ProfileCheck.astro";

import SectionContainer from "@/components/SectionContainer.astro";
import Hero from "@/components/Hero.astro";
import TitleSection from "@/components/TitleSection.astro";
---

<Layout
  title="Porfolio de Junior Ruiz - Desarrollador y Programador Web con 3 años de experiencia"
  description="Contrata a Junior Ruiz para crear tu aplicación web. Desarrollador Web. Especializado en crear aplicaciones únicas."
>
  <main class="px-4">
    <SectionContainer class="py-16 md:py-36">
      <Hero />
    </SectionContainer>
  </main>
  <div class="space-y-24">
    <SectionContainer id="experience">
      <TitleSection>
        <Briefcase class="size-8" />
        Experiencia laboral
      </TitleSection>
      <ExperiencePages />
    </SectionContainer>

    <SectionContainer id="skills">
      <TitleSection>
        <CodeIcon class="size-8" />
        Skills
      </TitleSection>
      <SkillsPage />
    </SectionContainer>

    <SectionContainer id="certificates">
      <TitleSection>
        <Graduation class="size-8" />
        Certificados
      </TitleSection>
      <CertificatesPage />
    </SectionContainer>

    <SectionContainer id="about-me">
      <TitleSection>
        <ProfileCheck class="size-8" />
        Sobre mí
      </TitleSection>
      <AboutMePage />
    </SectionContainer>
  </div>
</Layout>
